:root {
  --clr-dark-blue: #050c9c;
  --clr-blue: #3572ef;
  --clr-light-blue: #3abef9;
  --clr-sky-blue: #a7e6ff;

  --clr-black-1000: black;
  --clr-black-800: rgba(0, 0, 0, 0.8);
  --clr-black-600: rgba(0, 0, 0, 0.6);
  --clr-black-400: rgba(0, 0, 0, 0.4);
  --clr-black-200: rgba(0, 0, 0, 0.2);
  --clr-white: white;
  --clr-white-800: rgb(241, 241, 241);
  --clr-white-600: rgb(228, 228, 228);
  --clr-white-400: rgb(211, 211, 211);

  --size-extra-sm: 0.5rem;
  --size-sm: 0.8rem;
  --size-normal: 1rem;
  --size-medium: 1.8rem;
  --size-large: 2.5rem;
  --size-extra-large: 3rem;
  --size-extra-extra-large: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Verdana, sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.a-primary {
  font-size: var(--size-normal);
  border: none;
  background: none;
  text-decoration: none;
  color: white;
  padding: 0.5em 0.8em;
}

.a-primary:hover {
  border: 0.1em solid var(--clr-white);
  border-radius: 1em;
}
.a-primary:active {
  background-color: var(--clr-white);
  color: var(--clr-black-1000);
}

.a-secondary {
  font-size: var(--size-normal);
  border: none;
  background: none;
  text-decoration: none;
  display: block;
  width: fit-content;
  color: var(--clr-white);
  font-size: var(--size-medium);
  padding: 1em 0.2em;
  border-radius: 1em;
  box-shadow: 0.01em 0.1em 0.5em var(--clr-sky-blue);
  transition: all 0.3s linear;
}
.a-secondary:hover {
  border: none;
  box-shadow: -0.02em 0.1em 0.7em 0.1em var(--clr-sky-blue);
}
.a-secondary:active {
  background: var(--clr-sky-blue);
  color: white;
  transform: translateY(-0.2em);
  box-shadow: 0 0 0 0 var(--clr-sky-blue);
}

.a-secondary::after {
  transition: all 0.4s;
}
.a-secondary::before {
  transition: all 0.4s;
}
.a-secondary:hover::after {
  top: -500%;
}
.a-secondary:hover::before {
  top: -500%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--clr-sky-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-black-1000);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-black-800);
}

/* laptop  */
@media (min-width: 768px) {
  .container {
  }
}
/* teblet  */
@media (min-width: 425px) {
  .container {
  }
}
/* mobile  */
@media (max-width: 425px) {
  .container {
  }
}
